.login * {
    @include setZero;
}

.login {
    @include defaultLandingSection;
    background-color: $primary_one;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;

    .login_container {
        width: 25%;
        background-color: rgba($color: #fff, $alpha: 0.8);
        backdrop-filter: blur(10px);
        padding: 2rem;
        border-radius: 10px;
        gap: 5rem;
        border: 1px solid #fff;

        .form_header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.5rem;

            h1 {
                font-family: "Times New Roman", "Sarif";
            }
        }

        .login_form_group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 1rem;
            gap: 0.5rem;

            input {
                background-color: transparent;
                outline: none;
                border: 1px solid #ffffff;
                border-radius: 5px;
                width: 100%;
                padding: 0.35rem 0.75rem;
            }
        }

        button {
            width: 100%;
            margin-top: 2rem;
        }
    }
}

@media only screen and (max-width: 968px) {
    .login_container {
        width: 60% !important;
    }
}

@media only screen and (max-width: 480px) {
    .login_container {
        width: 90% !important;
    }
}