.contact_us_popup_form * {
    @include setZero;
}

.contact_us_popup_form {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup_form_content {
        width: 35%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        background-color: $primary_neutral;

        .popup_form_content_header {
            color: $admin_background;
            background-color: $primary_one;
            padding: 1rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;

            .close_icon {
                width: 1.2rem;
                height: 1.2rem;
                position: absolute;
                right: 1.2rem;
                top: 30%;
                border: 0;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .form_body {
            padding: 1rem;

            .contact_form_group {
                display: flex;
                flex-direction: column;
                margin-top: 0.5rem;

                .contact_form_label {
                    font-weight: 500;
                }

                .contact_form_input {
                    outline: none;
                    border: none;
                    padding: 0.25rem 0.5rem;
                    border: 1.5px solid #c9c2c2;
                    border-radius: 5px;
                }       
                
                &:last-of-type {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}