.services * {
    @include setZero;
}

.services {
    width: 100%;
    background-color: #fff;
    padding: 2rem 22.5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    .service_container {
        // background-color: red;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        text-align: left;

        .service_aside_image {
            width: 10rem;
            height: 8rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        .service_description {
            padding: 1rem;
        }
    }
}