.contact_section {
    padding: 0.5rem 0;
    // background-color: #444141;
    background-image: url("/src/assets/images/contactbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
    z-index: 0 !important;

    h1 {
        text-align: center;
        border-bottom: 1px solid #fff;
        padding: 0.5rem 0;
        width: fit-content;
        margin: 0 auto;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #252525;
        opacity: 0.92;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .contact_div_wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .contact_div {
            flex: 1;
            padding: 2rem !important;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            iframe {
                border: 3px solid $secondary_two !important;
                border-radius: 10px;
                min-width: 80%;
            }

            .form_wrapper {
                // background-color: #fff;
                background-image: linear-gradient($secondary_two, $secondary_one);
                padding: 2rem 1rem;
                border-radius: 10px;
                width: 80%;

                .form_body {
                    background-color: $primary_two;
                    transform: translateX(-2rem);
                    padding: 1rem;
                    border-radius: 2px;

                    .contact_form_group {
                        margin-top: 0.75rem;

                        .contact_form_input {
                            width: 100%;
                            padding: 0.5rem 1rem;
                            border-radius: 2px;
                            border: none;
                            outline: none;
                        }

                        textarea {
                            resize: none;
                        }
                    }

                    .custom_success_btn {
                        margin-top: 0.5rem;
                    }
                }
            }
        }

        .contact_div.contact_info_text {
            display: flex;
            flex-flow: column nowrap;
            gap: 2rem;

            .contact_info_text_wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;

                i {
                    font-size: 1.25rem;
                }

                .contact_info_text_icon_wrapper {
                    background-color: #fff;
                    width: max-content;
                    height: max-content;
                    padding: 0.75rem;
                    border-radius: 50rem;
                    box-shadow: 0 2px 5px 1px gray;

                    .contact_icon {
                        color: #000;
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .header_text {
                color: #ffffff;
                font-family: "Times New Roman", "Sarif";
                font-size: 2.5rem;                
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact_div {
        flex: 1 0.5 50% !important;
    }
}