.testimonail * {
    @include setZero;
}

.user_testimonail {
    background-color: #f7f7f7;
    padding: 2rem 22.5%;
    text-align: center;

    .user_testimonal_card_par_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .testimonal_card_wrapper {
            width: calc( 100% / 3);
            padding: 1rem;

            .testimonal_card {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                &:hover .testimonal_card_image_wrapper img {
                    transition: all 0.1s ease-in;
                    transform: scale(1.10);
                }

                .testimonal_card_image_wrapper {
                    width: 35%;
                    height: 35%;
                    margin: 0rem auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: contain;
                    }
                }

                .testimonial_description {
                    color: #585858;
                }
            }
        }
    }
}