.contact_popup_icon * {
    @include setZero;
}

.contact_popup_icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 4rem;
    right: 1rem;
    z-index: 15;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    .enquire_wrapper {
        background-color: $primary_one;
        color: $primary_neutral;
        text-transform: uppercase;
        width: max-content;
        height: max-content;
        padding: 0.5rem 0.75rem 0.5rem 0.5rem;
        letter-spacing: 2px;
        transform: translateX(10px) scaleX(0);
        z-index: -1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: all 0.25s ease-in-out;
        transform-origin: right;
        animation: enquireSlide 5s ease-in-out;

        &:hover {
            background-color: darken($primary_one, 50%);
        }
    }

    .popup_icon_wrapper {
        width: 3.5rem;
        height: 3.5rem;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    &:hover .enquire_wrapper {
        transform: translateX(10px) scaleX(1);
    }
}

@keyframes enquireSlide {
    0%{
        transform: translateX(10px) scaleX(0);
    }
    20% {
        transform: translateX(10px) scaleX(1);
    }
    50% {
        transform: translateX(10px) scaleX(1);
        background-color: darken($primary_one, 50%);
    }
    90% {
        transform: translateX(10px) scaleX(1);
        background-color: darken($primary_one, 50%);
    }
    100% {
        transform: translateX(10px) scaleX(0);
    }
}