@mixin custom_container {
    padding: 0 15% !important;
}

@mixin custom_tight_container {
    padding: 0 22.5% !important;
}

@mixin defaultLandingSection {
    width: 100%;
    min-height: calc(100vh - 152px);
}

@mixin setZero {
    padding: 0;
    margin: 0;
}

@mixin carousalDefauleDimension {
    width: 100%;
    min-height: calc(100vh - 95px);
    margin: 0 auto;
    overflow: hidden;
}

@mixin packageCover {
    .v_cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.8));
        transition: all 0.25s ease-in-out;

        &:hover {
            transform: translateY(-20rem);
        }

        .d1 {
            height: 50%;
            width: 100%;
        }

        .d2 {
            height: 50%;
            width: 100%;
        }
    }
}

@mixin loadingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

// Custom View button
@mixin customViewBtn {
    outline: 2px solid #fff;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
        color: #000;
        outline: none;
        font-weight: 500;
        background-color: $secondary_two;
    }
}

