// Theme colors
$primary_neutral: #fff;
$primary_dark: #000;
$primary_one: #08346c;
$primary_two: #587494;
$neutral: #c8b48c;
$secondary_one: #f88c24;
$secondary_two: #f8c46c;
$footer_background: #292929;
// Admin page
$admin_background: #f0f0f0;
$admin_border_clr: #e7e7e7;
//ContactUs
$not_addressed: #4485db;
$addressed: #55da90;
$onHold: #ee4949;