.package_card {
    background-color: #fafad2;
    width: max-content;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

// button styles start
.custom_success_btn {
    width: 100%;
    background-color: $primary_one;
    border: none;
    outline: none;
    padding: 0.4rem 0 !important;
    border-radius: 5px;
    color: $primary_neutral;
    font-size: 1.25rem;
    transition: all 0.1s ease-in;
}

.custom_success_btn:hover {
    background-color: #000;
}

.custon_primary_button {
    border: none !important;
    outline: none !important;
    color: #fff;
    background-color: #2264df;
    padding: 0.25rem 0.5rem !important;
    border-radius: 2.5px;
    transition: all 0.1s ease-in;
    &:hover {
        background-color: darken($color: #2264df, $amount: 20%);
    }
}

.custon_edit_button {
    border: none !important;
    outline: none !important;
    color: #fff;
    background-color: #68c057;
    padding: 0.25rem 0.5rem !important;
    border-radius: 2.5px;
    transition: all 0.1s ease-in;
    &:hover {
        background-color: darken($color: #6dd857, $amount: 20%);
    }
}

.custon_delete_button {
    border: none !important;
    outline: none !important;
    color: #fff;
    background-color: #f54949;
    padding: 0.25rem 0.5rem !important;
    border-radius: 2.5px;
    transition: all 0.1s ease-in;
    &:hover {
        background-color: darken($color: #f54949, $amount: 20%);
    }
}

.required::after {
    content: " *";
    color: #ff0000;
}

// button styles end

.package_hero {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .package_hero_content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.55);
        width: 100%;
        height: 100%;
        position: relative;
        .company_name {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .package_type {
            font-family: "Times New Roman", "serif";
            font-size: 3rem;
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 1.5px;
                position: absolute;
                bottom: -2px;
                left: 0;
                background-color: #fff;
                transform: scaleX(0);
                transform-origin: center;
                animation: packageTypeDecoration 0.5s ease-in 0.5s forwards;
            }
        }
    }
}

@keyframes packageTypeDecoration {
    0%{
        transform: scaleX(0);
    }
    100% {        
        transform: scaleX(1);
    }
}