.custom_nav {
    padding: 0 !important;
    height: 4rem !important;
    background-color: $primary_one;
    position: sticky !important;
    top: 0;
    z-index: 20;
}

.custom_container {
    @include custom_container;
    height: 100%;

    img {
        width: 100% !important;
        height: 100% !important;
    }
}

.custom_link.brand {
    width: 20rem !important;
}

.custom_link {
    color: $primary_neutral !important;
    margin: auto 0;
    height: 100%;
    align-content: center;
}

.custom_link:not(.brand){
    position: relative;
    padding: 0 1rem !important;
}

.custom_link:not(.brand).active {
    color: $primary_dark !important;
    z-index: 0;
    padding-left: 1.5rem !important;
    font-weight: 500;
}

.custom_link.active:not(.brand)::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0.5rem;
    bottom: 0;
    background-color: $secondary_two;
    z-index: -1;
    transform: skew(-15deg);
}

.custom_link:not(.brand)::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $secondary_two !important;
    transform: scaleX(0);
    transition: all 0.15s ease-in;
    transform-origin: center;
    z-index: 1;
}

.custom_link:not(.brand):hover::before {
    transform: scaleX(1);
}

#basic-nav-dropdown{
    color: $primary_neutral !important;
}

.custom_link_test {
    background-color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
}