.queries * {
    @include setZero;
}

.queries {
    @include defaultLandingSection;
    padding: 1rem;

    .accordion {
        .accordion_item.NA {
            border-color: $not_addressed;
        }

        .accordion_item.AA {
            border-color: $addressed;
        }

        .accordion_item.HH {
            border-color: $onHold;
        }

        .accordion_item {
            border: 2px solid;
            // border-color: red;
            border-radius: 10px !important;
            margin-top: 1rem;
            overflow: hidden;
            box-shadow: 0 3px 10px -1px #bdbaba;

            .accordion_header {
                // background-color: red !important;
            }

            .accordion_body {
                display: flex;

                .details {
                    flex: 1;
                    border-right: 1px solid #808080;
                    padding: 0.5rem;

                    .info_group {
                        margin-top: 0.5rem;
                        label {
                            font-weight: bold;
                        }
                    }
                }

                .remarks {
                    width: 30%;
                    padding: 0.5rem;
                    .info_group {
                        display: flex;
                        flex-direction: column;
                        margin-top: 0.5rem;
                        label {
                            font-weight: bold;
                        }
                        textarea {
                            padding: 0.25rem;
                        }
                    }
                }
            }
        }
    }
}