.hero {
    width: 100%;
    height: calc(100% - 250px);
    z-index: 0 !important;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .hero_text_welcome {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 80vh;
        font-family: "Times New Roman", "Sarif";
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .welcome_text {
            background-image: linear-gradient(90deg, #01afef 20%, #f5a800 80%);
            font-size: 4rem;
            color: transparent;
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            animation: backgroundAmin 3s ease-in-out forwards;
            font-weight: 600;
            // animation-delay: 0.5s;
            background-size: 400% 400%;
            background-color: red;
            position: relative;
        }

        .welcome_text.welcome_package::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            transform: scaleX(0);
            background-color: #fff;
            animation: titleTextdecor 0.5s ease-in-out forwards;
            animation-delay: 1s;
            
        }

        p {
            font-size: 1.1rem;
        }

    }
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2
}

// Welcome slide 
.custom_carousal {
    @include carousalDefauleDimension;
    z-index: 1;
    position: relative;
    max-height: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 10;
    }
}

// Welcome slide End

// Internaitonal Slide
.Internaitonal_slide {}

// Internaitonal Slide End

// domestic slide
.domestic_slide {}

// domestic slide End

// services slide
.services_slide {
    background-image: url("/src/assets/images/services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

// services slide End

@keyframes backgroundAmin {
    0% {
        background-position: center;
    }

    50% {
        background-position: left;
        // background-image: linear-gradient(90deg, #f5a800, #01afef);
    }

    100% {
        background-position: right;
        // background-image: linear-gradient(90deg, #f5a800, #f5a800);
    }
}

@keyframes titleTextdecor {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}