.hero {
    width: 100%;
    height: calc(83.3vh + 2.5rem);
    z-index: 0 !important; 
    background-image: url("/src/assets/images/packagesbg.jpg");
    background-size: contain; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 0;
}

// Welcome slide 
.custom_carousal {
    @include carousalDefauleDimension;  
}
// Welcome slide End

// Internaitonal Slide
.Internaitonal_slide{
}
// Internaitonal Slide End

// domestic slide
.domestic_slide {
}
// domestic slide End

// services slide
.services_slide {
    background-image: url("/src/assets/images/services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 84vh;
}
// services slide End
