.footer {
    color: $primary_neutral;
    background-color: $footer_background;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.footer * {
    @include setZero;
}

.footer_highlight {
    color: $secondary_two;
}